/* TO-DO: 
	Make left column proportionally smaller than right 
	Bring column edges in just a bit from the edge of the page 
	Find out how to pad around text in cells
*/
	
body {
  font-family: monospace;
}
table {
  /* Mozilla recommends fixed table layout with % width per column */
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}
table th {
	border: 1px solid black;
	background: #e6e6e6;
	text-align: left;
}
table tr {
	border: 1px solid black;
}
table td {
	border: 1px solid black;
	text-align: left;
}
.prop_table_head {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #e6e8f0;
    text-align: center;
    font-size: 120%;
}
.prop_info_group {
    background: #e6e8f0;
}
.italic {
    font-style: italic;
}
.bullet_heading {
    list-style: none;
    margin-left: -10pt;
    padding-top: 3pt;
    padding-bottom: 3pt;
    font-size: 110%;
    font-weight: bold;
    
}
.pad_lr {
	padding-left: 15px;
	padding-right: 15px;
}
.backlink {
    text-align: right;
}


